.App {
  text-align: center;
}

html {
  background-color: black;
}

.mond {
  display: grid;
  grid-template-rows: 87px 190px 190px 95px 95px 95px 35px;
  grid-template-columns: 95px 95px 95px 190px 109px 109px 47px;
  grid-gap: 12px;
  margin: 50px auto;
  width:750px;
}

#top-rect1 {
  grid-column-start:1;
  grid-column-end:3;
}
#top-rect2 {
  grid-column-start:3;
  grid-column-end:5;
}
#top-rect3 {
  grid-column-start:5;
  grid-column-end:7;
}

#top-rect4 {
  grid-column-start:7;
  grid-column-end:8;
  grid-row-start: 1;
  grid-row-end: 5;
}

#row2-rect5 {
  grid-column-start:1;
  grid-column-end:2;
}

#red-square {
  grid-column-start:2;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 4;
}

#row2-yellow-rect6 {
  grid-column-start:5;
  grid-column-end:7;
}

#vert-white-rect7 {
  grid-row-start: 3;
  grid-row-end: 5;
}

#black-square {
  grid-column-start:2;
  grid-column-end:4;
  grid-row-start: 4;
  grid-row-end: 6;
}

#vert-white-rect12 {
  grid-column-start:4;
  grid-column-end:5;
  grid-row-start: 5;
}

#hor-white-rect13 {
  grid-column-start:5;
  grid-column-end:7;
}

#hor-yellow-rect14 {
  grid-row-start: 5;
  grid-row-end: 8;
}

#hor-white-rect15 {
  grid-column-start:2;
  grid-column-end:4;
  grid-row-start: 6;
  grid-row-end: 8;
}
#hor-white-rect17 {
  grid-column-start:4;
  grid-column-end:7;
}

#blue-rect {
  grid-column-start:5;
  grid-column-end:7;
  grid-row-start: 5;
  grid-row-end: 7;
}

#red-rect {
  grid-row-start: 5;
  grid-row-end: 8;
}